* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}
.full-width {
  width: 100vw;
}
.right {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.gap {
  gap: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.txt-xl {
  font-size: 3rem;
  font-weight: 900;
  color: var(--txt-color);
}
.txt-md {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txt-color);
}
.txt-sm {
  font-size: 1rem;
  font-weight: 400;
  color: var(--txt-color);
}

.input input {
  padding: 11px;
  border: none;
  border-radius: 10px;
  color: var(--txt-color);

  background-color: #221f1fce;
  width: 20rem;
}
@media screen and (max-width: 1280px) {
  .txt-xl {
    font-size: 2rem;
    font-weight: 700;
  }
  .txt-md {
    font-size: 1.1rem;
    font-weight: 400;
  }
}
